/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 18px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: "arial", sans-serif;
  font-weight: bold;
  line-height: 1.5;
}

.white p {
  visibility: hidden;
 color: white;
}

.center {
  text-align: left;
  text-indent: 20%; 
  width:40%;
  margin:0 auto;
}

.title {
  text-indent: 0;
}

.details {
font-weight: normal;
}


.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

audio {
  margin:0 auto;

}


/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
  padding-top:18px;
  padding-bottom:18px;
}

@media screen and (max-width: 1100px) {
  .center {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .center {
    width: 100%;
  }
}
